/Makefile.in
/mkfs.lustre
/mount.lustre
/tunefs.lustre
/lctl
/lfs
/wirecheck
/wiretest
/llog_reader
/lr_reader
/lload
/llverfs
/llverdev
/l_getidentity
/l_facl
/mkfs_lustre
/mount_lustre
/tunefs_lustre
/lreplicate
/ltrack_stats
/lshowmount
/lustre_rsync
/ll_decode_filter_fid
/ll_decode_linkea
/lhsmd_posix
/lhsmtool_posix
