pre.programlisting, pre.screen
{   background-color: #e0e0e0;
    padding: 5px;
}

div.versionbox {
  border: 1px solid gray;
  margin-top: 12px;
}

span.versionlabel {
  display: inline-block;
  position: relative;
  top: -10px;
  left: 10px;
  background-color: white;
  border: 1px solid gray;
}

span.versioncontent {
  margin-left: 15px;
}

span.floatright {
  float: right;
}
