/.Xrefs
/config.log
/config.status
/configure
/Makefile
/.deps
/TAGS
/.*.cmd
/fsfilt-*.c
/autoMakefile.in
/autoMakefile
/modules.order
/*.ko
/*.mod.c
/.*.flags
/.*.o.d
/.tmp_versions
/.depend
/sources
/fsfilt_ldiskfs*
/fsfilt-ldiskfs*
