/*.log
/*.xml
/Makefile.in
/XMLCONFIG
/badarea_io
/check_fhandle_syscalls
/checkfiemap
/checkstat
/chownmany
/cmknod
/copy_attr
/copytool
/llapi_fid_test
/llapi_hsm_test
/llapi_layout_test
/createdestroy
/createmany
/createtest
/directio
/fchdir_test
/flock_deadlock
/flock_test
/flocks_test
/fsx
/getdents
/group_lock_test
/listxattr_size_check
/iopentest1
/iopentest2
/it_test
/lgetxattr_size_check
/ll_dirstripe_verify
/ll_getstripe_info
/ll_sparseness_verify
/ll_sparseness_write
/llverdev
/llverfs
/logs
/lovstripe
/mcreate
/memhog
/mkdirmany
/mlink
/mmap_cat
/mmap_sanity
/mrename
/multifstat
/multiop
/munlink
/newfile
/o_directory
/open_delay
/openclose
/opendevunlink
/opendirunlink
/openfile
/openfilleddirunlink
/openme
/openunlink
/orphan_linkea_check
/ostactive
/reads
/rename_many
/rmdirmany
/runas
/rwv
/sendfile
/sendfile_grouplock
/setuid
/sleeptest
/small_write
/stat
/statmany
/statone
/swap_lock_test
/tchmod
/test_brw
/testreq
/toexcl
/truncate
/unlinkmany
/utime
/wantedi
/write_append_truncate
/write_disjoint
/write_time_limit
/writemany
/writeme
