Source: lustre
Section: admin
Priority: optional
Maintainer: Brian J. Murrell <brian.murrell@intel.com>
Uploaders: Brian J. Murrell <brian.murrell@intel.com>
Standards-Version: 3.8.3
Build-Depends: module-assistant, libreadline-dev, debhelper (>=7.0.0), dpatch, automake (>=1.7) | automake1.7 | automake1.8 | automake1.9, libtool, libyaml-dev, libselinux-dev, libsnmp-dev, mpi-default-dev, bzip2, quilt, linux-headers-generic | linux-headers | linux-headers-amd64, rsync
Homepage: https://wiki.hpdd.intel.com/
Vcs-Git: git://git.whamcloud.com/fs/lustre-release.git

Package: lustre-source
Section: admin
Architecture: all
Priority: optional
Depends: module-assistant, bzip2, debhelper (>= 7.0.0), libtool, libyaml-dev, libselinux-dev, libsnmp-dev, mpi-default-dev, dpatch
Description: source for Lustre filesystem client kernel modules
 Lustre is a scalable, secure, robust, highly-available cluster file system.
 This release is maintained by Intel Corporation and available from
 https://wiki.whamcloud.com/
 .
 This package contains the module source. The client kernel modules
 can be built for kernels 2.6.32+ with the use of module-assistant
 or make-kpkg.

Package: lustre-utils
Section: utils
Architecture: i386 powerpc ppc64el amd64 ia64 arm64
Priority: optional
Depends: ${shlibs:Depends}, ${misc:Depends}, libyaml-0-2, libselinux1, libsnmp30, zlib1g, perl
Description: Userspace utilities for the Lustre filesystem
 Lustre is a scalable, secure, robust, highly-available cluster file system.
 This release is maintained by Intel Corporation and available from
 https://wiki.whamcloud.com/
 .
 This package provides a number of userspace utilities for
 maintaining Lustre filesystems.

Package: lustre-iokit
Section: utils
Architecture: i386 powerpc ppc64el amd64 ia64 arm64
Priority: optional
Depends: lustre-utils (= ${binary:Version}), python, perl, sg3-utils
Description: Collection of benchmark tools for the Lustre filesystem
 Lustre is a scalable, secure, robust, highly-available cluster file system.
 This release is maintained by Intel Corporation and available from
 https://wiki.whamcloud.com/
 .
 This package provides a collection of benchmark tools

Package: lustre-tests
Section: utils
Architecture: i386 powerpc ppc64el amd64 ia64 arm64
Priority: optional
Depends: lustre-iokit (= ${binary:Version}), attr, rsync, perl, lsof, mpi-default-bin
Description: Test suite for the Lustre filesystem
 Lustre is a scalable, secure, robust, highly-available cluster file system.
 This release is maintained by Intel Corporation and available from
 https://wiki.whamcloud.com/
 .
 This package provides a number of test utilities for the Lustre filesystem.

Package: lustre-dev
Section: libdevel
Priority: optional
Architecture: i386 powerpc ppc64el amd64 ia64 arm64
Depends: lustre-utils (= ${binary:Version})
Description: Development files for the Lustre filesystem
 Lustre is a scalable, secure, robust, highly-available cluster file system.
 This release is maintained by Intel Corporation and available from
 https://wiki.whamcloud.com/
 .
 This package provides development libraries for the Lustre filesystem.
