Source: lustre
Section: admin
Priority: optional
Maintainer: Brian J. Murrell <brian.murrell@intel.com>
Uploaders: Brian J. Murrell <brian.murrell@intel.com>
Standards-Version: 3.8.3
Build-Depends: module-assistant, libreadline-dev, debhelper (>=7.0.0), dpatch, automake (>=1.7) | automake1.7 | automake1.8 | automake1.9, libsnmp-dev, bzip2, quilt, linux-headers-generic | linux-headers | linux-headers-amd64, rsync
Homepage: https://wiki.hpdd.intel.com/
Vcs-Git: git://git.hpdd.intel.com/fs/lustre-release.git

Package: linux-patch-lustre
Section: devel
Architecture: all
Priority: optional
Depends: ${kpatch:Depends}
Recommends: kernel-package, quilt
Description: Linux kernel patch for the Lustre Filesystem
 Lustre is a scalable, secure, robust, highly-available
 cluster file system. This release is maintained by Intel Corporation
 and available from https://wiki.hpdd.intel.com/
 .
 Lustre servers require a number of patches to the core Linux kernel,
 mostly to export new functions, add features to ext3, and add
 a new locking path to the VFS. This package provides these patches
 for kernel versions 2.6.18, 2.6.21 and 2.6.22 on i386, amd64, powerpc
 and ia64 architectures.
 .
 For Lustre clients, you will also need to build a lustre-modules
 package, using the lustre-source package and module-assistant.

Package: lustre-source
Section: admin
Architecture: all
Priority: optional
Depends: module-assistant, bzip2, debhelper (>= 7.0.0), libsnmp-dev, dpatch
Description: source for Lustre filesystem client kernel modules
 Lustre is a scalable, secure, robust, highly-available cluster file system.
 This release is maintained by Intel Corporation and available from
 https://wiki.hpdd.intel.com/
 .
 This package contains the module source. The client kernel modules
 can be built for kernels 2.6.32+ with the use of module-assistant
 or make-kpkg.

Package: lustre-utils
Section: utils
Architecture: i386 powerpc ppc64el amd64 ia64
Priority: optional
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Userspace utilities for the Lustre filesystem
 Lustre is a scalable, secure, robust, highly-available cluster file system.
 This release is maintained by Intel Corporation and available from
 https://wiki.hpdd.intel.com/
 .
 This package provides a number of userspace utilities for
 maintaining Lustre filesystems.

Package: lustre-tests
Section: utils
Architecture: i386 powerpc ppc64el amd64 ia64
Priority: optional
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Test suite for the Lustre filesystem
 Lustre is a scalable, secure, robust, highly-available cluster file system.
 This release is maintained by Intel Corporation and available from
 https://wiki.hpdd.intel.com/
 .
 This package provides a number of test utilities for the Lustre filesystem.

Package: lustre-dev
Section: libdevel
Priority: optional
Architecture: i386 powerpc ppc64el amd64 ia64
Depends: lustre-utils (= ${binary:Version})
Description: Development files for the Lustre filesystem
 Lustre is a scalable, secure, robust, highly-available cluster file system.
 This release is maintained by Intel Corporation and available from
 https://wiki.hpdd.intel.com/
 .
 This package provides development libraries for the Lustre filesystem.
