KERNEL=linux-2.6.6.tar.gz
SERIES=2.6-vanilla
VERSION=2.6.6
EXTRA_VERSION=lustre
RHBUILD=0

BASE_ARCHS=""
BIGMEM_ARCHS=""
BOOT_ARCHS=""
JENSEN_ARCHS=""
SMP_ARCHS=""
UP_ARCHS=""
SRC_ARCHS=""
