KERNEL=linux-2.6.4-51.8.tar.gz
SERIES=2.6-suse
VERSION=2.6.4
EXTRA_VERSION=51.8_lustre
RHBUILD=0

BASE_ARCHS=""
BIGMEM_ARCHS=""
BOOT_ARCHS=""
JENSEN_ARCHS=""
SMP_ARCHS=""
UP_ARCHS=""
SRC_ARCHS=""
