KERNEL=linux-2.6.5-12.1.tar.gz
SERIES=2.6-suse
VERSION=2.6.5
EXTRA_VERSION=12.1_lustre
RHBUILD=0

BASE_ARCHS=""
BIGMEM_ARCHS=""
BOOT_ARCHS=""
JENSEN_ARCHS=""
SMP_ARCHS=""
UP_ARCHS=""
SRC_ARCHS=""
