KERNEL=linux-2.6.4-51.0.tar.gz
SERIES=2.6-suse.series
VERSION=2.6.4
EXTRA_VERSION=51.0_lustre
RHBUILD=0
LINUX26=1

BASE_ARCHS="i686"
BIGMEM_ARCHS=""
BOOT_ARCHS=""
JENSEN_ARCHS=""
SMP_ARCHS="i686"
UP_ARCHS=""
SRC_ARCHS=""
