KERNEL=linux-2.4.18-p4smp-86chaos.tar.gz
SERIES=chaos-2.4.18
VERSION=2.4.18
EXTRA_VERSION=p4smp-86chaos
RHBUILD=0

BASE_ARCHS="i686"
BIGMEM_ARCHS=""
BOOT_ARCHS=""
JENSEN_ARCHS=""
SMP_ARCHS="i686"
UP_ARCHS=""
SRC_ARCHS="i686"
