KERNEL=linux-2.4.20-28.9.tar.gz
SERIES=rh-2.4.20
VERSION=2.4.20
EXTRA_VERSION=28.9_lustre

BASE_ARCHS="i586"
BIGMEM_ARCHS=""
BOOT_ARCHS=""
JENSEN_ARCHS=""
SMP_ARCHS="i586"
UP_ARCHS=""
SRC_ARCHS="i586"
