KERNEL=linux-2.4.20-20.9.tar.gz
SERIES=rh-2.4.20
VERSION=2.4.20
EXTRA_VERSION=20.9

BASE_ARCHS="i386"
BIGMEM_ARCHS=""
BOOT_ARCHS=""
JENSEN_ARCHS=""
SMP_ARCHS="i686"
UP_ARCHS=""
