KERNEL=linux-2.4.21-15.0.3.EL.tar.bz2
SERIES=chaos-2.4.21
VERSION=2.4.21
EXTRA_VERSION=15.0.3.EL_lustre.1.2.4
RHBUILD=1

BASE_ARCHS="i686"
BIGMEM_ARCHS=""
BOOT_ARCHS=""
JENSEN_ARCHS=""
SMP_ARCHS="i686"
UP_ARCHS=""

# the modules in this kernel do not build with gcc 3.3 or 2.96
for cc in i386-redhat-linux-gcc-3.2.3 gcc32 gcc ; do
    if which $cc >/dev/null 2>/dev/null ; then
        export CC=$cc
        break
    fi
done
