/.Xrefs-2.5
/aclocal.m4
/config.cache
/config.guess
/config.sub
/lustre*.tar.gz
/cscope.files
/cscope.out
/autom4te-2.53.cache
/autom4te.cache
/depcomp
/compile
/.mergeinfo-*
/Rules
/missing
/mkinstalldirs
/install-sh
/tmpdiff
