/.Xrefs
/.Xrefs-2.5
/aclocal.m4
/config.log
/config.status
/config.cache
/config.guess
/config.sub
/configure
/Makefile
/autoMakefile
/autoMakefile.in
/.deps
/tags
/TAGS
/lustre*.tar.gz
/cscope.files
/cscope.out
/autom4te-2.53.cache
/autom4te.cache
/depcomp
/compile
/install-sh
/missing
/mkinstalldirs
/modules.order
/Rules
/.*.cmd
/.depend
/.mergeinfo-*
/.tmp_versions
