# Copyright (C) 2001  Cluster File Systems, Inc.
#
# This code is issued under the GNU General Public License.
# See the file COPYING in this distribution

# Build a kernel module, name.o, and install it in $(moduledir) by:
#  MODULE = name
#  module_DATA = name.o
#  EXTRA_PROGRAMS = name
#  name_SOURCES = my.c files.c
#  include $(top_srcdir)/Rules


$(MODULE).o: $($(MODULE)_OBJECTS)
	$(LD) -m "`$(LD) --help | awk '/supported emulations/ {print $$4}'`" -r -o $(MODULE).o $($(MODULE)_OBJECTS)

tags:
	rm -f $(top_srcdir)/TAGS
	rm -f $(top_srcdir)/tags
	find $(top_srcdir)/../portals/ -name '*.[hc]' | xargs etags -a
	find $(top_srcdir) -name '*.[hc]' | grep -v ".orig" | xargs etags -a
	find $(top_srcdir)/../portals/ -name '*.[hc]' | xargs ctags -a
	find $(top_srcdir) -name '*.[hc]' | grep -v ".orig" | xargs ctags -a

AM_CPPFLAGS=-I$(top_builddir)/include
